/* --- ESTILO PARA AS REDAÇÕES --- */

#redacoes {
    margin-top: 60px;
}

#redacoes h2 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    color: var(--cor-secundaria);
}

.card {
    border: 2px solid var(--cor-principal);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    background-color: #ffffff;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    border-color: var(--cor-destaque);
}

.card-title {
    font-weight: 700;
    color: var(--cor-secundaria);
}

.card-text {
    color: var(--cor-principal);
    font-weight: 500;
}

.card img {
    border-bottom: 2px solid var(--cor-principal);
}
