/* Fonte e cores */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-principal: #000000;
    --cor-secundaria: #000000;
    --cor-destaque: #1927e4;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-principal);
    font-size: 16px;
    transition: all 0.3s;
    padding-bottom: 100px;
}

h1, h2, h5 { color: var(--cor-secundaria); font-weight:700; }
.lead, .btn-link { color: var(--cor-destaque); font-weight:700; }
a, .btn-link:hover { color: var(--cor-principal); }
a:hover { color: var(--cor-destaque); }

.card { box-shadow:0 2px 5px rgba(0,0,0,0.2); }
